@page
@inject Jambo.Application.Queries.IBlogQueries blogQueries
@using Microsoft.AspNetCore.Mvc.RazorPages

<div>
    <h1><a href="/">Blogs</a></h1>

    @foreach (dynamic blog in blogQueries.GetBlogsAsync().Result)
    {
        <h2><a href="/Posts?blogId=@blog.Id">@blog.Url (@blog.Rating)</a></h2>
    }
</div>