@page
@model Jambo.Producer.WebAPI.IndexModel
@inject Jambo.Application.Queries.IBlogQueries blogQueries
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>To Do Items</title>
    </head>
    <body>
        <div>
            <h1>To Do Items</h1>
            <ul>

            </ul>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Is Done?</th>
                </tr>
            </table>
        </div>
    </body>
    </html>
}