@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.RazorPages

@functions {
    public class IndexModel : PageModel
    {
        public readonly Jambo.Application.Queries.IBlogQueries _blogQueries;
        public readonly Jambo.Application.Queries.IPostQueries _postQueries;

        public IndexModel(Jambo.Application.Queries.IBlogQueries blogQueries,
            Jambo.Application.Queries.IPostQueries postQueries)
        {
            _blogQueries = blogQueries;
            _postQueries = postQueries;
        }

        public void OnGet()
        {
            Blog = _blogQueries.GetBlogAsync(Guid.Parse(Request.Query["blogId"])).Result;
            Posts = _postQueries.GetPostsAsync(Guid.Parse(Request.Query["blogId"])).Result;
        }

        public dynamic Blog { get; private set; }
        public IEnumerable<dynamic> Posts { get; private set; }
    }
}

<div>
    <h1><a href="/">Blogs</a></h1>
    <h2><a href="/Posts?blogId=@Model.Blog.Id">@Model.Blog.Url</a></h2>    
</div>

<div>
    @foreach (dynamic post in Model.Posts)
    {
        <div>
            <h3><a href="/Posts/Single?id=@post.Id">@post.Title</a></h3>
            <p>@post.Content</p>
        </div>
    }
</div>
