@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@using System.Dynamic

@functions {
    public class IndexModel : PageModel
    {
        public readonly Jambo.Producer.Application.Queries.IBlogQueries _blogQueries;
        public readonly Jambo.Producer.Application.Queries.IPostQueries _postQueries;

        public IndexModel(Jambo.Producer.Application.Queries.IBlogQueries blogQueries,
            Jambo.Producer.Application.Queries.IPostQueries postQueries)
        {
            _blogQueries = blogQueries;
            _postQueries = postQueries;
        }

        public void OnGet()
        {
            Blog = _blogQueries.GetBlogAsync(Guid.Parse(Request.Query["blogId"])).Result;
            Posts = _postQueries.GetPostsAsync(Guid.Parse(Request.Query["blogId"])).Result;
        }

        public dynamic Blog { get; private set; }
        public IEnumerable<dynamic> Posts { get; private set; }
    }
}

<div>
    <h1><a href="/">Blogs</a></h1>
    @*<h2><a href="/Posts?blogId=@Model.Blog._Id">@Model.Blog.Url</a></h2>*@    
</div>

<div>
    @foreach (dynamic post in Model.Posts)
    {
        <div>
            <h3><a href="/Posts/Single?id=@post._id">@post.title</a></h3>
            <p>@post.Content</p>
        </div>
    }
</div>
