@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.RazorPages

@functions {
    public class IndexModel : PageModel
    {
        public readonly Jambo.Application.Queries.IBlogQueries _blogQueries;
        public readonly Jambo.Application.Queries.IPostQueries _postQueries;

        public IndexModel(Jambo.Application.Queries.IBlogQueries blogQueries,
            Jambo.Application.Queries.IPostQueries postQueries)
        {
            _blogQueries = blogQueries;
            _postQueries = postQueries;
        }

        public void OnGet()
        {
            Post = _postQueries.GetPostAsync(Guid.Parse(Request.Query["Id"])).Result;
            Blog = _blogQueries.GetBlogAsync(Post.BlogId).Result;
        }

        public dynamic Blog { get; private set; }
        public dynamic Post { get; private set; }
    }
}

<div>
    <h1><a href="/">Blogs</a></h1>
    <h2><a href="/Posts?blogId=@Model.Blog.Id">@Model.Blog.Url</a></h2>    
</div>


<div>
    <h3><a href="/Posts?id=@Model.Post.Id">@Model.Post.Title</a></h3>
    <p>@Model.Post.Content</p>
</div>

